* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cor-destaque: #edb721;
  --cor-fundo1: #292929;
  --cor-fundo2: #141414;
  --cor-texto: #bdbdbd;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Calibri" bold;
  overflow-x: hidden;
}

header {
  border-bottom: 1px solid #1f29373a;
  height: 4rem;
  width: 100%;
  position: fixed;
  background-color: var(--cor-fundo2);
  font-family: "Roboto" bold;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
}

nav {
  display: inline-block;
  align-items: center;
  width: 100rem;
  z-index: 10000;
  max-width: 100rem;
}

li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  z-index: 10000;
  align-items: center;
}



#parteDireita {
  color: white;
  font-size: 12pt;
  cursor: normal;
  z-index: 10000;
}

#parteDireita:hover {
  color: var(--cor-destaque);
}

#orcamento {
  color: white;
  border-radius: 20px;
  padding: 8px;
  font-size: 12pt;
  cursor: pointer;
  z-index: 10000;
}

#orcamento:hover {
  background-color: #50423a;
  z-index: 10000;
}

.divSuprema {
  width: 100rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 50rem;
}

ul {
  width: 100%;
  display: inline-block;
}

.esquerda{
  display: grid;
  grid-template-areas: 
  "cd vinyl"
  "cd classico";
  gap: 5px;
  margin-top: 10px;
}

.imgCD {
  grid-area: cd;
  width: 40px;
  height: 40px;
  color: white;
  background-color: white;
  border-radius: 50%;
}

#cr {
  grid-area: vinyl;
  border-radius: 6px;
  color: white;
  cursor: auto;
  font-style: bold;
  z-index: 10000;
  font-size: 18pt;
}

#contabilidade {
  grid-area: classico;
  color: white;
  cursor: auto;
  font-style: bold;
  z-index: 10000;
  font-size: 10pt;
}



body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-family: "Calibri" bold;
  overflow-x: hidden;

}

.imagemHome {
  height: 40rem;
  opacity: 0.7;
}

.containerHome {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(20, 20, 20, 0.5) 50%,
      rgba(20, 20, 20, 1) 100%
    ),
    url(./assets/photo-1631692364644-d6558eab0915.jfif) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 40rem;
}

.imgCD2 {
  width: 100px;
  height: 100px;
  color: white;
  background-color: white;
  border-radius: 50%;
  margin-top: 10rem;
}

.imgCD3 {
  width: 50px;
  height: 50px;
  color: white;
  background-color: white;
  border-radius: 50%;
  margin-top: 10rem;
}

.tituloHome h1 {
  font-size: 3rem;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin-bottom: 1rem;
}

.tituloHome p {
  font-size: 18pt;
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.tituloHome {
  color: white;
  width: 40rem;
  text-align: center;
}

.tituloHome a {
  margin-top: 5rem;
  text-decoration: none;
  color: white;
  background-color: #edb721;
  width: fit-content;
  padding: 20px;
}

.tituloHome2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 2rem 3rem 2rem;
}

.tituloHome2 a {
  color: orange;
}

.discosDestaques {
  background-color: var(--cor-fundo1);
  height: 30rem;
  margin: auto;
}

.containerHome2 {
  margin: 0 5rem 5rem 5rem;
}

.centralizarDestaque {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.centralizarNovidades {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.cards {
  display: flex;
  gap: 2rem;
  margin: 0 5rem;
}

.card {
  width: 220px;
  overflow: hidden; /* corta a imagem no limite do card */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--cor-fundo2);
  display: inline-block;
}


.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* Parte da imagem */
.card-image {
  height: 250px; /* controla até onde a imagem vai */
  background-size: cover;
  background-position: center;
}

.card-image-span {
  display: flex;
  justify-content: end;
}

.card-image span {
  margin-right: 0.5rem;
  color: white;
  background-color: var(--cor-fundo2);
  padding: 4px 8px;
  margin-top: 5px;
}

/* Parte branca */
.card-info {
  padding: 12px;
  background-color: var(--cor-fundo2);
  color: var(--cor-texto);
  text-align: left;
  padding: 20px;

}

.card-info h3 {
  margin: 0;
  font-size: 16px;
  color: var(--cor-texto);
}

.card-info p {
  margin: 4px 0;
  font-size: 14px;
}

.card-info a{
  color: white;
  background-color: var(--cor-destaque);
  padding: 20px;
  border: 1px solid red;
}

.explorarPorGeneros {
  background-color: var(--cor-fundo1);
  height: 11rem;
  margin: auto;
}

.generoExplorar{
  display: flex;
  align-items: center;
  margin: auto;
  width: 83rem;
}

.generos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.rockClassico {
  width: 15rem;
  height: 9rem;
  text-align: center;
  border: 1px solid black;
  background-color: var(--cor-fundo2);
  color: white;
  
}
.rockClassico:hover i,
.rockClassico:hover p{
  color: var(--cor-destaque);
}

.rockClassico i {
  margin-top: 3rem;
}

.metal {
  width: 15rem;
  height: 9rem;
  text-align: center;
  border: 1px solid black;
  background-color: var(--cor-fundo2);
  color: white;

}

.metal:hover i,
.metal:hover p{
  color: var(--cor-destaque);
}

.metal i {
  margin-top: 3rem;
}

.heavyMetal {
  width: 15rem;
  height: 9rem;
  text-align: center;
  border: 1px solid black;
  background-color: var(--cor-fundo2);
  color: white;
}

.heavyMetal:hover i,
.heavyMetal:hover p{
  color: var(--cor-destaque);
}

.heavyMetal i {
  margin-top: 3rem;
}

.discosNovidades {
  background-color: var(--cor-fundo1);
}

#solicitar {
  width: 100%;
  height: 42rem;
  background-color: var(--cor-fundo2);
  overflow: hidden;
  overflow-y: hidden;
}

.centralizar {
  gap: 50px;
  text-align: center;
  color: white;
}

.centralizar h1{
  padding-top: 30px;
}

.centralizar h1,
.centralizar p {
  margin-bottom: 60px;
  color: var(--cor-texto);
}

.centralizar a {
  color: white;
  background-color: var(--cor-destaque);
  padding: 20px 10px;
}

.centralizar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid #1f2937;
}

.esquerda2 {
  padding: 30px;
  width: 390px;
}

#cr2 {
  border-radius: 6px;
  padding: 3px;
  width: fit-content;
  height: fit-content;
  color: white;
  cursor: auto;
  font-style: bold;
  z-index: 10000;
  font-size: 18pt;
}

#contabilidade2 {
  color: #1f2937;
  cursor: auto;
  font-style: bold;
  z-index: 10000;
  font-size: 18pt;
  margin-bottom: 10px;
  color: white;
}

.esquerda2 p {
  color: white;
}

.linksRapidos {
  display: block;
  width: fit-content;
  margin-bottom: 10px;
  padding: 30px;
  margin-top: 93px;
}

.linksRapidos a {
  color: white;
  display: flex;
  margin-bottom: 10px;
}

.contatos {
  margin-top: 110px;
  color: white;
  font-size: 10pt;
}

.redesSociais {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 5px;
}

.redesSociais i {
  margin-bottom: 20px;
  color: #6b7280;
  background-color: #1f2937;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline;
  justify-content: center;
  align-items: center;
}

.redesSociais p {
  color: white;
}

.direitosReservados {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b7280;
  margin-top: 30px;
  margin-bottom: 15px;
}
.direitosReservados2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b7280;
}

#telephone2 {
  margin-top: 20px;
  color: var(--cor-destaque);
  background-color: rgba(124, 45, 55, 0.1);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
  z-index: 1000;
}

.preco {
  color: var(--cor-destaque)
}
